.sidebar-container {
  width: 160px;
  height: 100vh;
  padding: 50px 0;
  padding-left: 40px;
  transition: width 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #040404;
  background: linear-gradient(to right, rgba(4, 4, 4, 1), rgba(4, 4, 4, 0.8));
}

.sidebar-container:hover {
  width: 400px;
}

.sidebar-top-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.user-info {
  width: 200px;
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
  overflow: hidden;
  transition: 0.2s;
}

.sidebar-container:hover .user-info {
  width: 270px;
  opacity: 1;
}

.user-info > img {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  flex-shrink: 0;
}

.user-info > p {
  margin-left: 20px;
  font-size: 32px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar-content {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.4s ease;
}

.sidebar-container:hover .sidebar-content {
  width: 310px;
}

.sidebar-item {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
}

.sidebar-item-content {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.sidebar-container:hover .sidebar-item-content {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
}

.sidebar-item-content.active {
  background-color: #2b324c;
}

.sidebar-item-content:hover {
  background-color: #232a3f;
}

.sidebar-item-content > img {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  transition: 0.5s;
}

.item-title {
  max-width: 0;
  opacity: 0;
  font-size: 32px;
  margin-left: 40px;
  transition: max-width 0.4s ease, opacity 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.sidebar-container:hover .item-title {
  max-width: 280px;
  opacity: 1;
  pointer-events: auto;
}

.item-title.active {
  font-weight: bold;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  transition: 0.2s;
}

.sidebar-container:hover .sidebar-footer {
  opacity: 1;
}

.sidebar-footer-link {
  cursor: pointer;
  margin-bottom: 8px;
  color: #858688;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.sidebar-footer-link:hover {
  color: #ffffff;
}

.sidebar-footer-link:nth-last-child(1) {
  margin-bottom: 0;
}

/* <--------------------------------------------  Media  ---------------------------------------------> */

@media screen and (max-width: 1450px) {
  .sidebar-container {
    width: 140px;
    padding: 40px 0;
    padding-left: 40px;
  }

  .sidebar-container:hover {
    width: 360px;
  }

  .user-info {
    margin-bottom: 30px;
  }

  .user-info > p {
    font-size: 28px;
  }

  .sidebar-item-content {
    width: 55px;
    height: 55px;
  }

  .sidebar-container:hover .sidebar-item-content {
    height: 55px;
  }

  .sidebar-container:hover .sidebar-content {
    width: 270px;
  }

.sidebar-item-content > img {
  margin-left: 17px;
}

  .item-title {
    font-size: 28px;
  }

  .sidebar-footer-link {
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 22px;
  }
}
