.sidebar-container {
  width: 160px;
  height: 100vh;
  padding: 50px 0;
  padding-left: 40px;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #040404;
  background: linear-gradient(to right, rgba(4, 4, 4, 1), rgba(4, 4, 4, 0.8));
}

.sidebar-container:hover {
  width: 400px;
}

.sidebar-container:hover .sidebar-item-content {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  border-radius: 12px;
  padding-left: 20px;
}

.sidebar-container:hover .item-title {
  opacity: 1;
  max-width: 200px;
  margin-left: 40px;
}

.sidebar-top-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.user-info {
  width: 200px;
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
  overflow: hidden;
  transition: opacity 0.2s, width 0.5s;
}

.sidebar-container:hover .user-info {
  width: 270px;
  opacity: 1;
}

.user-image {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.user-name {
  margin-left: 20px;
  font-size: 32px;
  font-weight: bold;
  transition: 0.5s;
}

.sidebar-content {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sidebar-container:hover .sidebar-content {
  width: 310px;
}

.sidebar-item-content {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 5px;
}

.sidebar-item-content.active {
  background-color: #2b324c;
}

.sidebar-item-content:hover {
  background-color: #232a3f;
}

.item-title {
  opacity: 0;
  max-width: 0;
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity 0.2s, max-width 0.3s, margin-left 0.3s;
  margin-left: 0;
}

.item-title.active {
  font-weight: bold;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  transition: 0.3s;
}

.sidebar-container:hover .sidebar-footer {
  opacity: 1;
}

.sidebar-footer-link {
  cursor: pointer;
  margin-bottom: 8px;
  color: #858688;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  transition: 0.5s;
}

.sidebar-footer-link:hover {
  color: #ffffff;
}

.sidebar-footer-link:nth-last-child(1) {
  margin-bottom: 0;
}

/* <--------------------------------------------  Media  ---------------------------------------------> */

@media screen and (max-width: 1450px) {
  .sidebar-container {
    padding: 40px 0;
    padding-left: 30px;
  }

  .sidebar-container:hover {
    width: 380px;
  }

  .user-info {
    margin-bottom: 30px;
  }

  .user-name {
    font-size: 28px;
  }

  .sidebar-item-content {
    width: 55px;
    height: 55px;
  }

  .item-title {
    font-size: 28px;
  }

  .sidebar-footer-link {
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 22px;
  }
}
